body{
	background-color: #fff;
}

.imgbox{
	display: grid;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))
}

.center-fit{
	max-height: 100vh;
	max-width: 100%;
	margin: auto;
}

.logo{
padding-left: 100px;
padding-right: 100px;
padding-top: 100px;
}

#slogan{
	width: 1500px;
	text-align: : center;
}