@font-face {
font-family: "Lemon Milk Bold", sans-serif;
src: url("css/fonts/LemonMilkbold.otf");
}

@font-face{
	font-family: "Lemon Milk", sans-serif;
	src: url("css/fonts/LemonMilklight.otf");
}

@font-face{
	font-family: "Helmet", sans-serif;
	src:url("css/fonts/Helmet-Regular.ttf");
}

@font-face{
	font-family: "Stronger", sans-serif;
	src:url("css/fonts/Stronger.otf");
}

body{
	font-family: "LemonMilklight", sans-serif;
  background-color: #f0f0f0;
  color: #000034;
}

*{
	padding: 0;
	margin: 0;
}

h2{
	color: #000034;
	font-family: "Stronger", sans-serif;
	font-size: 40px;
}

h3{
	color: #f88906;
	font-family: "LemonMilklight", sans-serif;

}


.imgbox{
	display: grid;
	height: 100%;
}

.center-fit{
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.logo{
padding-left: 100px;
padding-right: 100px;
padding-top: 100px;
}

#slogan h1{
	width: 1500px;
	color:#000034;
	font-size: 2vw;
	font-family: "LemonMilkbold";
	position: absolute;
	vertical-align: middle;
	padding-top: 26%;
	padding-left: 60%;
	max-height: 100%;
	max-width: 100%;
}

#slogan p{
	width: 1500px;
	color:white;
	font-family: "LemonMilklight";
	font-size: 2vw;
	position: absolute;
	padding-top: 29.5%;
	padding-left: 80.5%;
	max-height: 100%;
	max-width: 100%;
}
}

#booking div{
	color:#000034;
	width: 300px;
	font-family: "LemonMilkbold";
	position: absolute;
	padding-top: 400px;
}

#arrow{
	width: 100%;
}

#arrow img{
	margin: 0;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	padding-top: 92.3%;
	margin-right: -50%;
	align-content: center;
	float: center;
	transform: translate(-50%,-50%);
}

button{
	background-color: #0145c4;
	width: 100px;
	height: 30px;
	color: white;
	float: right;
	box-decoration-break: none;
	border-radius: 30px;
	border:none;
	font-size: 15px;
	font-family: "LemonMilklight";
}

button:hover{
	background-color: #93b9ff;
}

.navbar{
	float: right;
	padding-top: 30px;
	list-style-type: none;
	color: #000034;
	vertical-align: middle;
}

.navbarsection {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	color: #000034;
	size: 30px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
}

.navbarwhole{
	padding-top: 0px;
}

a{
	text-decoration: none;
	font-family: sans-serif;
	color:#000034;
	font-family: "LemonMilklight";
	}

a:hover{
	color: #f88906;
	float: center;
}

.buttontext{
	color: white;
}

.buttontext:hover{
	color: white;
}

.underfold{
	background-color: #dbdbdb;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

p, li{
	font-family: "Helmet", sans-serif;
}

li{
	font-size: 20px;
}

#deliver{
	font-family: "Stronger";
	font-size: 3.5vw;
}

#booktoday{
	font-size: 30px;
}
